<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DESKTOP-1838J82\\SQLEXPRESS"
			 connectionString="Server=yESKTOP-1838J82\\SQLEXPRESS;Database=SchoolDB;User Id=your_username;Password=your_password;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- You can add other configurations like app settings, etc., here -->
</configuration>